.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .title {
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .title h4{
    text-align: left;
  }
  
  .title h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .card-list {
    list-style-type: none;
    padding: 0;
  }
  
  .card {
    display: flex;
    margin-top: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #f2f2f2;
  }
  
  .left {
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left img {
    width: 180px;
    height: 190px;
    border-radius: 4px;
  }
  
  .right {
    flex: 2;
    padding: 20px;
  }
  
  .row {
    margin-bottom: 12px;
  }
  
  .row h3 {
    color: #333;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
  }
  
  .row p {
    color: #666;
    margin: 0;
    font-size: 30px;
  }
  
  .small-text {
    float: left;
    color: #50FF6D;
    font-size: 12px;
  }
  
  .buttons {
    float: right;
  }
  
  .buttons button {
    margin-left: 5px;
    background-color: #5bccff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .buttons button:hover {
    background-color: #02b1ff;
  } 